player-connection-mode=Connect
player-connection-guid=293951750
player-connection-debug=0
player-connection-project-name=Finn's Fart Frenzy
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.76
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=ab9f01b75479471f8b116e17f18565ac
