# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Rider / VS
.vs/
.idea/
*.sln
*.csproj
*.user
*.pidb
*.svd
*.suo

# Gradle / Android
.gradle/
*.apk
*.aab
*.aar
*.dex
*.class
*.jar
*.keystore
.android/
AppData/

# NuGet
.nuget/
*.nupkg

# OS
.DS_Store
Thumbs.db
*.tmp
